<div id="student-name">
  <%= @student.name %>
</div>
<%= link_to "Back", @school_class, class: "btn btn-default" %>
<div id="progress-summary">
  <%= pie_chart ({"Completed tasks" => number_of_tasks_completed,
                  "In progress tasks" => number_of_tasks_in_progress,
                  "Locked tasks" => number_of_locked_tasks}),
                colors: ["#57AB1E", "lightsteelblue", "#444"],
                height: "200px" %>
</div>
<hr>
<div id="curriculum-list">
  <ul class="module-page-ul">
    <%= render partial: "module_list_element", collection: @module_pages, as: "module_page" %>
  </ul>
</div>