<h1>Octopi</h1>
<p>Welcome <%= current_staff.name %>!</p>
<p>
  This is the home page for the
  <a href="https://github.com/ucsb-cs-education/octopi-webapp">Octopi-Webapp</a>.
  As a staff member, you have access to some additional controls available under the 'Admin Account' dropdown in the top right. To get started playing around in LaPlaya, click on LaPlaya at the top.
</p>