<h1>Octopi Help</h1>
<p>To get started, either you first need to sign in.</p>
<p>Click the sign in button in the top right to go to right to the sign in page.</p>
<p>Or, click on <b>Octopi</b> in the top left to be taken straight to our home page, where you can will find a button to sign in.</p>
<br/>
<p>If you experience problems with the site, please feel free to <%= link_to 'contact us', contact_path %></p>
