<h1>Octopi Help</h1>
<p>To get started, you first need to sign in.</p>
<p>Click the sign in button in the top right to go to right to the sign in page.</p>
<p>Or, click on <b>Octopi</b> in the top left to be taken straight to our home page, where you can will find a button to sign in.</p>
<br/>
<p>If you experience problems with the site, please feel free to <%= link_to 'contact us', contact_path %></p>
<video id="example_video_1" class="video-js vjs-default-skin"
       controls preload="auto" width="640" height="264"
       poster="http://video-js.zencoder.com/oceans-clip.png"
       data-setup='{"example_option":true}'>
  <source src="http://video.blendertestbuilds.de/download.blender.org/peach/trailer_480p.mov" type='video/mp4' />
  <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
<script>
//    using jQuery
    $('video,audio').mediaelementplayer(/* Options */);
</script>

