<% provide(:title, 'Home') %>
<% content_for :body_attributes do
  'id=octopi-homepage'
end %>
<% content_for :pre_container do %>
    <section class="welcome-to-octopi">
      <div class="opacity-filter">
        <div class="welcome-content">
          <h1 class="tagline">
            <span class="brand">Octopi</span>
            <span>a platform</span>
            <span>for learning</span>
            <span>with LaPlaya</span>
          </h1>
          <% if signed_in_student? %>
              <p>
                Welcome back, <%= current_student.name %>.
              </p>
              <%= link_to 'Student Homepage', student_portal_root_path, class: 'btn btn-primary' %>
          <% else %>
              <%= link_to 'Sign in!', student_portal_signin_path, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </section>
<% end %>
