<div class="row" id="base_laplaya_files">
  <div class="base_laplaya_file col-md-12">
    <h2>Task Base LaPlaya File</h2>
    <%= render partial: 'laplaya_file_form', locals: {
            laplaya_file: @page.task_base_laplaya_file,
            clone_url: clone_laplaya_task_path(page),
            laplaya_files_collection: @user_laplaya_files} %>
  </div>
</div>
