[submodule "lib/assets/javascripts/laplaya"]
    path = lib/assets/javascripts/laplaya
    url = https://octopi-deploy:9c50a4d3b062eedcfbb09429870005553733be31@github.com/ucsb-cs-education/laplaya.git
