[submodule "lib/assets/javascripts/laplaya"]
    path = lib/assets/javascripts/laplaya
    url = https://github.com/ucsb-cs-education/laplaya
[submodule "app/assets/javascripts/ckeditor/plugins/openlink"]
	path = app/assets/javascripts/ckeditor/plugins/openlink
	url = https://github.com/mlewand/ckeditor-plugin-openlink
