<div class="correct-answers">
  Correct Answer<%= "s" if question_type=="multipleAnswers" %>:<br>
  <% answers.each_with_index { |a, i| %>
      <% if a['correct']==true %>
          <%= (i+1).to_s %>
      <% end %>
  <% } %>
</div>
<div class="student-responses">
  Student Answer<%= "s" if question_type=="multipleAnswers" %>:<br>
  <% selected.each { |r| %>
      <%= (r+1).to_s %>
  <% } %>
</div>
