<div id="page-title">
  <%= link_to @task.title, assessment_task_path(@task) %>
</div>
<%= link_to "View responses to other tasks", task_responses_path %>
<hr>
<% has_answers = false
   @response_map.each { |x|
     has_answers = true unless x[:responses].blank?
   } %>
<% if has_answers %>
    <% @response_map.each { |school_class| %>
        <% unless school_class[:responses].blank? %>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to school_class[:name], school_class_path(school_class[:id]) %></h3>
              </div>
              <div class="panel-body">
                <ul>
                  <% school_class[:responses].each { |r| %>
                      <li>
                        <%= link_to r[:student_first_name]+" "+r[:student_last_name], task_response_path(r[:response_id]) %>
                      </li>
                  <% } %>
                </ul>
              </div>
            </div>
        <% end %>
    <% } %>
<% else %>
    <div id="no-answers-div">
      None of your students have answered this task.
    </div>
<% end %>