<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Octopi, <%= @user.name %></h1>
<p>
  An admin has created an account for you. Your login credentials are as follows:
  <br/>
  <strong>Email:</strong> <%= @user.email %><br/>
  <strong>Password:</strong> <%= @password %><br/>
</p>
<p>
  Your login information cannot be sent to you again!
  To login to the site, just follow this link: <a href="<%= root_url %>">Octopi home</a>
</p>
</body>
</html>