#main-body.student_portal.student_portal-pages {

  .locked {

  }

  #select-module {
    float: right;
  }

  #page-title {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .student-body {
    display: inline-block;
    padding: .5em;
    margin: 2px;
    border: 3px solid #CCCCCC;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    p {
      font-size: inherit;
    }
  }

  .child-link {
    margin: 2px;
    border: 2px solid #DDDDDD;
    background-color: #EEEEEE;
    border-radius: 3px;
    padding: .5em;
    color: black;
    font-size: 16px;
    a {
      color: black;
    }
  }

  .locked {
    border: 2px solid #BBBBBB;
    background-color: #CCCCCC;
  }

  .complete {
    border: 2px solid rgba(159, 239, 166, 0.41);
    background-color: rgba(193, 237, 194, 0.38);
  }

  div#other-links {
    div {
      display: inline-block;
      text-align: center;
      a {
        padding: 2em;
        border-radius: 8px;
        display: inline-block;
        img {
          width: 75px;
          height: 75px;
        }

        border: 3px solid darkkhaki;
        background-color: khaki;
        &:hover {
          background-color: darkkhaki;
        }
        width: 200px;
      }
      p {
      }
    }
    div + div {
      float: right;
      a {
        border: 3px solid deepskyblue;
        background-color: lightskyblue;
        &:hover {
          background-color: deepskyblue;
        }
      }
    }
  }

  #submit-answers {
    margin: 2px;
  }

  //everything below is the css for the question and answer boxes in assessment questions
  .question-box {
    margin: 2px;
    padding: .5em;
    border: 2px solid #DDDDDD;
    border-radius: 5px;

    .question-title {
      font-size: 20px;
      font-weight: bold;
    }

    .question-body {
      margin: 2px;
      padding: .5em;
      /*border: 2px solid #DDDDDD;
      border-radius: 5px;*/
      border: 1px solid black;
      font-size: 18px;
    }

    .input-box {
      width: 28px;
      display: inline-block;
      float: left;
      .answer-input {
        max-width: 28px;
        display: inline-block;
      }
    }

    .answer-text {
      display: inline-block;
    }

    .answer {
      border: 1px solid lightgrey;
      border-radius: 2px;
      padding: 5px 5px 5px 5px;
      margin: -1px;
      font-size: 18px;
      p {
        font-size: inherit;
      }
    }
  }

}