// Place all the styles related to the pages/pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-body.pages {
  .pages {
    background-color: transparent;
    .page-header {
      h1 {
        text-align: left;
        font-size: 32px;
        margin-bottom: 5px;
        span:empty {
          display: block;
          height: 1em;
        }
      }
      margin-bottom: 12px;
      margin-top: 0px;
      padding-bottom: 0px;
    }
    #delete-page-link {
      width: 20%;
      color: inherit;
      &:visited, &:hover, &:active {
        color: #ffffff;
      }
    }
    form {
      #demo-mode-checkbox label {
        margin-left: 6px;
        margin-bottom: 15px;
        padding: 0px;
        label {
          margin: 0px 3px 0px 0px;
        }
        input {
          margin: 0px;
        }
      }

      width: 60%;
      .visible-fields {
        select {
          width: auto;
          margin-left: 15px;
        }
        input {
          margin-left: 15px;
        }
        label {
          text-align: left;
          padding-right: 0px;
        }
      }
    }

    .new_child_page {
      margin-bottom: 10px;
    }
    #tabs {
      font-family: inherit;
      margin-top: 5px;
      font-size: 18px;
      p {
        font-size: inherit;
      }
    }
    #children {
      list-style-type: none;
      margin: 15px 0 0;
      padding: 0;
      width: 60%;
      li {
        margin: 0 3px 3px 3px;
        padding: 0.4em 0.4em 0.4em 1.5em;
        font-size: 1.4em;
        height: 35px;
        span.ui-icon{
          position: absolute;
          margin-left: -1.3em;
        }
        .teacher-div, .designer-div{
          display:inline-block;
          float: right;
          font-weight:bold;
          span {
            font-size:11px;
            line-height: 10px;
            display: block;
            text-align: right;
          }
        }
      }
    }
    #base_laplaya_files {
      .demo-disabled {
        opacity: 0.3;
        background-color: $gray-lighter;
        a {
          color: $gray-light;
          pointer-events: none;
          cursor: default;
        }
        input.btn-primary {
          background-color: $gray-light;
          border-color: $gray-light;
        }
        select, abbr {
          cursor: default;
          pointer-events: none;
        }
      }
      div.files-header {
        margin-top: 10px;
        min-height: 45px;
      }
      .col-md-4, .col-md-6 {
        min-height: 300px;
      }
      form {
        width: 100%;
      }
      .base_laplaya_file, .laplaya-analysis-file {
        h2, h3 {
          text-align: left;
          margin-bottom: 0px;
          margin-top: 0px;
        }
        border: 1px solid $gray-lighter;
      }
      .laplaya-analysis-file {
        div.form-inputs {
          margin-top: 5px;
          margin-bottom: 15px;
        }
      }
      margin: 5px 0px 20px;
    }
  }

  #dependency_graph {
    color: black;
    background-color: #e3e3e3;
    border: 1px solid #c8c8c8;
    margin-top: 2px;
    padding: .5em;
    width: 60%;
    a {
      color: #000052;
    }
  }

  .remove-button {
    border: 0px;
    padding: 0px;
    color: #999999;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
  }

  .remove-button:hover {
    color: #ad0000;
  }

  .edit_task_dependency, .edit_activity_dependency {
    margin-bottom: .1em;
    display: inline-block;
    max-width: 8em;
  }

  .add-prereq {
    margin-bottom: 1px;
  }

  .new_task_dependency {
    display: inline-block;
    max-width: 8em;
  }

  #task-dependency-form, #activity-dependency-form {
    display: inline-block;
  }

  #possible-dependant-list {
    display: inline-block;
  }

  #task-prerequisites, #all-dependants {
    list-style-type: none;
    padding: 0;
  }

  #no-prereq-message {
    color: rgba(0, 0, 0, .5);
  }

  #edit-dependencies {
    .simple_form {
      min-width: 20em;
      max-width: 20em;
    }
  }
}