// Place all the styles related to the pages/pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages {
  .pages {
    background-color: transparent;
    .page-header {
      h1 {
        text-align: left;
        font-size: 32px;
        margin-bottom: 25px;
        span:empty {
          display: block;
          height: 1em;
        }
      }
      margin-bottom: 0px;
      margin-top: 0px;
      padding-bottom: 0px;
    }
    #delete-page-link {
      width: 60%;
      color: inherit;
      &:visited, &:hover, &:active {
        color: #ffffff;
      }
    }
    form {
      width: 60%;
    }

    .new_child_page {
      margin-bottom: 10px;
    }
    #tabs {
      margin-top: 5px;
      p {
        font-size: 16px;
      }
    }
    #children {
      list-style-type: none;
      margin: 15px 0 0;
      padding: 0;
      width: 60%;
      li {
        margin: 0 3px 3px 3px;
        padding: 0.4em 0.4em 0.4em 1.5em;
        font-size: 1.4em;
        height: 35px;
        span {
          position: absolute;
          margin-left: -1.3em;
        }
      }
    }
    #base_laplaya_files {
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 5px;
      .base_laplaya_file {
        h2 {
          text-align: left;
        }
        border: 1px solid $gray-lighter;
      }
      margin-bottom: 20px;
    }
  }
}

#dependency_graph {
  color: black;
  background-color: #e3e3e3;
  border: 1px solid #c8c8c8;
  margin-top:2px;
  padding:.5em;
  width: 60%;
  a {
    color: #000052;
  }
}

.remove-button{
  border: 0px;
  padding: 0px;
  color: #999999;
  display:inline-block;
  background-color:rgba(0,0,0,0);
}
.remove-button:hover{
  color: #ad0000;
}
.edit_task_dependency, .edit_activity_dependency{
  margin-bottom: .1em;
  display:inline-block;
  max-width:8em;
}

.add-prereq{
  margin-bottom:1px;
}
.new_task_dependency{
  display:inline-block;
  max-width:8em;
}

#task-dependency-form, #activity-dependency-form{
  display:inline-block;
}

#possible-dependant-list{
  display:inline-block;
}

#task-prerequisites
{

  list-style-type: none;
}