// Place all the styles related to the pages/pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-body.pages.pages-assessment_questions {
  #choosetype {
    display: inline-block;
    background-color: rgb(250, 250, 250);
    text-align: center;
    margin: 2px;
    padding: 2px;
    max-width: 15em;
    height: 78px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    border-bottom-right-radius: 10px;
  }
  #ansType {
    width: 11em;
  }
  #addAns {
    display: inline-block;
    background-color: #3EDD6B;
    padding: 2px;
    margin: 2px;
    max-width: 10em;
    height: 78px;
    border: 1px solid #2DAF61;
    font-size: 120%;
    text-align: center;
    border-radius: 3px;
    border-bottom-left-radius: 10px;
  }
  #addAns:hover {
    background-color: #3FA36C;
  }

  #addAns:active {
    border-style: inset;
  }

  .choices {
    max-width: 20px;
    display: inline-block;
  }

  .answerHead {
    padding: .5em;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 5px;
    background-color: #ED6868;
    &.checked {
      background-color: #9fefa6;
    }
  }

  .answerBox {
    border: 4px solid darkgray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 5px;
  }

  .deleteAnswer {
    float: right;
    color: white;
    font-size: 120%;
    padding: .1em;
    border: 1px solid black;
    background-color: #C9302C;
    border-radius: 3px;
    border-bottom-left-radius: 8px;
  }

  .deleteAnswer:hover {
    background-color: #F73936;
  }

  .deleteAnswer:active {
    border-style: inset;
  }

  #free-response-note{
    font-size: 120%;
    text-align: center;
  }
}
