<% provide(:title, 'All students') %>
<h1>Students at <%= link_to @school.name, @school %></h1>

<ul class="students">
  <%= render @students %>
</ul>

<p>
  <%= link_to 'Add a new student', new_school_student_path(@school) %>
</p>

<p>
  <%= link_to 'Back to '+@school.name, @school %>
</p>

