<% provide(:title, "#{@school.name} | #{@student.name}") %>
<%= @student.name %>
<% if can? :destroy, @student %>
    <p>
      <%= link_to 'Delete?', school_student_path, method: :delete,
                  data: {confirm: "You sure?"},
                  title: @student.name %>
    </p>
<% end %>
