<div id="page-title">
  <%= @page.title %>
</div>
<% unless yield(:parent_redirect)=="" %>
    <div id='parent-link'>
      <%= link_to "Return to #{@page.parent.title}", yield(:parent_redirect) %>
    </div>
<% end %>

<div class="student-body">
  <%= @page.student_body.html_safe if @page.respond_to?(:student_body) && !(@page.student_body=="") %>
</div>