<div id="page-title">
  <%= @activity_page.title %>
</div>
<div id='parent-link'>
  <%= link_to "Return to #{@activity_page.module_page.title}", student_portal_curriculum_path(@module_page) %>
</div>
<div class="student-body">
  <%= @activity_page.student_body.html_safe %>
</div>

<div id="children-pages">
  <%= render partial: 'student_portal/pages/activity_page/children', collection: @tasks, as: :child %>
</div>

