<% provide(:parent_page,'module_page') %>
<%= render partial: "inner_header"%>

<div id = "children-pages" >
  <%= render partial: "student_portal/pages/activity/children",collection: @page.children %>
</div>current_student.id