<div id = "select-module">
  <div class="form-group" id = "module-list" >
      <form id = "change-module"action="<%= @page.id %>">
        <label for="modules" class="select required control-label">Select a different module</label>
        <select id="modules" class = "form-control">
          <%= render partial: "student_portal/pages/module_page/module_options", collection:current_school_class.module_pages  %>
        </select>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value = "Switch Modules" id="change-module-button">
        </div>
      </form>
   </div>
</div>

<%= render partial: "inner_header"%>


<div id = "children-pages" >
  <%= render partial: "student_portal/pages/module_page/children",collection: @page.children %>
</div>

<div id="other-links">
    <div id = "sandbox-link">
      <img src="broken image" width="100" height="100" >
    </div>
    <div id = "main-project-link">
      <img src="broken image" width="100" height="100" >
      Story Project
    </div>
</div>