<h1>Welcome to Octopi</h1>
<p>
  This is the staff home page for Octopi.
</p>
<p>
  As a staff member, you have access to some additional controls available under the 'Admin Account' dropdown in the top
  right. To get started playing around in LaPlaya, click on LaPlaya at the top. Staff may also have access to a
  curriculum visible at the top.
</p>
<p>
  <a href="https://www.madewithcode.com/">Made with Code</a>
</p>
<p>
  <% if current_staff.curriculum_designer?(true) %>
      <%= link_to 'View Curricula', curriculum_pages_path, class: 'btn btn-default' %>
      <br/>
  <% end %>
  <% if current_staff.teacher?(true) %>
      <%= link_to 'View your classes', teacher_school_classes_path, class: 'btn btn-default' %>
      <br/>
  <% end %>
  <% if current_staff.teacher?(true) || current_staff.school_admin?(true) %>
      <%= link_to 'View Schools', schools_path, class: 'btn btn-default' %>
      <br/>
  <% end %>
  <%= link_to 'Open your LaPlaya sandbox', staff_laplaya_path, class: 'btn btn-default' %>

</p>