<div class="answer">
  <div class="input-box">
    <% if question_type == "singleAnswer" %>
        <input class = "answer-input" name = "question_<%= question_id %>_input" type="radio">
    <% else %>
        <input class = "answer-input" type="checkbox">
    <% end %>
  </div>
  <div class="answer-text">
    <%= show_answer['text'].html_safe %>
  </div>
</div>
