<% provide(:title, 'Students home') %>
<!DOCTYPE html>
<html>
<body>
<h1>Octopi - Students homepage</h1>
<p>
  Welcome <%= current_student.name %>! <br />
  We hope <%= current_student.school.name %> is treating you right!
</p>
</body>
</html>
