<% provide(:title, 'Student Homepage') %>
<div>
  <div class="welcome-message">
    <h1>
      Welcome to Octopi.
    </h1>

    <h2>
      Hi <%= current_student.name %>! <%= 'To get started, click below!' if @path %>
    </h2>

  </div>
  <% if @path %>
      <%= link_to(image_tag('student_laplaya_splash_logo.jpg', class: 'laplaya_splash'), @path) %>
  <% else %>
      <%= image_tag('student_laplaya_splash_logo.jpg', class: 'laplaya-splash') %>
  <% end %>
</div>
