<% unless dependency.id==nil %>
    <li class="prereq_link" id="prerequisite-id-<%= dependency.prerequisite.id %>">
      Depends on <%= link_to "#{dependency.prerequisite.title}", dependency.prerequisite %>
      <% if can? :update, @page %>
          <%= form_for dependency,
                       html: {method: :delete}, remote: true do |f| %>
              <%= f.submit 'Remove', class: 'remove-button' %>
          <% end %>
      <% end %>
    </li>
<% end %>