<div id="dependency_graph">
  <div id="edit-dependencies">
    <%= render partial: "add_prerequisites" %>
  </div>
  <ul id = "task-prerequisites" >
    <%= render partial: "prereq_link", collection: @task_dependencies, as: :dependency %>
  </ul>
  <% if @page.is_a?(Task) && false %>
      <ul id="task-dependants">
        <%= render partial: "dependant_link", collection: @activity_depencies, as: :dependency %>
        <%= render partial: "dependant_link", collection: @task_dependencies, as: :dependency %>
      </ul>
  <% end %>
</div>

