<%= content_tag_for :li, page, class: 'ui-state-default' do %>
    <span <%= "class='ui-icon ui-icon-arrowthick-2-n-s'".html_safe if can? :update, @page%> id = "child-link"></span><%= link_to page.title, page %>
<% end %>