<div class="nav nav-pills view-selector">
  <li <%= 'class=active' if teacher_view? %>><a href="#">Teacher View</a></li>
  <li <%= 'class=active' unless teacher_view? %>><a href="#">Student View</a></li>
</div>
