<table>
  <tr>
    <td>
      <div id="choosetype">
        Answer Options:
        <form action="">
          <label for="ansType" class="sr-only">Answer Types</label>
          <select id="ansType">
            <option value="singleAnswer">One Correct</option>
            <option value="multipleAnswers">Multiple Correct</option>
          </select>
        </form>
      </div>
    </td>
    <td>
      <button type="button" id="addAns">
        Add New Answer Choice
      </button>
    </td>
  </tr>
</table>