<table>
  <tr>
    <td>
      <div id="choosetype">
        Answer Options:
        <label for="ansType" class="sr-only">Answer Types</label>
        <%= select_tag :answer_types, options_from_collection_for_select(AssessmentQuestion.answer_types, 'val', 'label', @assessment_question.question_type), id: 'ansType' %>
      </div>
    </td>
    <td>
      <button type="button" id="addAns"
              <% if @assessment_question.question_type=='freeResponse' %>
              style='display: none;'
              <% end %>
              >
        Add New Answer Choice
      </button>
    </td>
  </tr>
</table>