<%= render partial: "answer_options" unless !(can? :update, @page)%>

<div id="answerList">
  <%= render partial: "showAnswer", collection: JSON.parse(@assessment_question.answers), locals: {:question_type => @assessment_question.question_type} %>
</div>

<script>$("#ansType").val("<%= @assessment_question.question_type %>");</script>