<div id="tabs">
  <ul>
    <li><a href="#question-body">Question</a></li>
  </ul>
  <% if @raw %>
      <textarea id="question-body">
        <%= @assessment_question.question_body.html_safe if @assessment_question.question_body.present? %>
      </textarea>
  <% else %>
      <div id="question-body" <%= "class=octopieditable" if can? :update, @page %>>
        <%= @assessment_question.question_body.html_safe if @assessment_question.question_body.present? %>
      </div>
  <% end %>
</div>