<div id = "other-links-div">
  <% @child_assessment_questions.each { |aq| %>
      <%= render partial: "link_to_other", locals: {question: aq} %>
  <% } %>
</div>
<br>
<div id="tabs">
  <ul>
    <li><a href="#question-body">Question</a></li>
  </ul>
  <div id="question-body" <%= "class=octopieditable" if can? :update, @page %>>
    <%= @assessment_question.question_body.html_safe if @assessment_question.question_body.present? %>
  </div>

</div>