<%= simple_form_for [@school, @school_class], class: "form-inline" do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs col-md-6">
      <%= f.input :name, label: "Save Class Name:", label_html: {class: 'sr-only'} %>
    </div>
    <div class="form-actions col-md-2">
      <%= f.button :submit, "Save class name" %>
    </div>
<% end %>
