<% if activity_page.visible_to_teachers %>
    <tr>
      <td>
        <% unless activity_page.visible_to_students %>
            <%= link_to activity_page.title, activity_page_path(activity_page) %>
            <div class="teacher-only-note"> Teacher only activity</div>
        <% else %>
            <%= link_to activity_page.title, activity_page_path(activity_page), class: 'black-link' %>
            <br>
            <%= link_to "View Class Progress", school_class_activity_path(@school_class, activity_page) %>
        <% end %>
      </td>
    </tr>
<% end %>