<div class = "module-title-box">
  <%= module_page.title %>
</div>
<br>
<table class = "table table-striped table-bordered">
    <%= render partial: "list_activity_page",collection: module_page.activity_pages, as: "activity_page" %>
</table>