<li>
  <%= school_class.school.name %> -- <%= "#{school_class.name} "%>
  <%= link_to "View", school_class_path(:id => school_class.id) %>
  <%= link_to "Edit", edit_school_class_path(:id => school_class.id) %>

</li>