$(function() {
    $("#classlist").append('<tr><td><%= @student.first_name %></td><td><%= @student.last_name %></td><td><%= @student.login_name %></td><td></td></tr>');
    $("#create_and_add_student_form").toggle();
    $("#toggle_button").toggle();
    $('#create_and_add_student_form')[0].reset()
});