$(function() {
    $("#classlist").append('<tr><td><%= @student.first_name %></td><td><%= @student.last_name %></td><td><%= @student.login_name %></td></tr>');
    $('#existing_student_list option[value="<%= @student.id%>"]').remove();
});