<% provide(:title, 'Create a new class') %>
<% breadcrumb :staff_school_new_class, @school %>
<div class="row">
  <div class="col-md-12">
    <div class="well well-sm">
      Create a new class at <%= @school.name %>
      <%= simple_form_for @school_class, url: school_school_classes_path do |f| %>
          <%= render partial: 'form', locals: {f: f, school_class: @school_class} %>
          <%= f.button :submit, 'Create class' %>
      <% end %>
    </div>
  </div>
</div>
