<p>
  <strong>Name:</strong>
  <%= @school_class.name %>
</p>
<p>
  <%= link_to 'Add a new student to this class: TODO', new_school_student_path(@school) %>
</p>
<p>
  <%= link_to 'Back', school_school_classes_path %>
</p>

