// Place all the styles related to the school_classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.school_classes {
  form.edit_school_class {
    border: '1px solid #cccccc';
    div.school_class_name {
      width: 70%;
      input {
        width: 100%;
      }
    }
    #edit_school_class_submit {
      width: auto;
    }
    div.check_boxes div.checkbox {
      @extend .col-md-4;
      margin-top: 5px;
    }
  }
  #classlist {
    margin-left: 15px;
    width: 90%;
    thead {
      background-color: #B2B2FF;
      color: #666666;
      font-weight: bold;
      cursor: default;
    }
    &, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
    }
  }
  #existing_student {
    p {
      margin-left: 16px;
      margin-top: 8px;
    }
    .form-inputs {
      padding-left: 0px;
    }
  }
  #new_student {
    form {
      padding-left: 0px;
    }
  }
}

#curriculum-div {
  font-size: 180%;
  margin-top: 10px;
  margin-bottom: -10px;
}

.module-title-box {
  font-size: 110%;
  margin-top: 2px;
}

.activity-title-box {
  font-size: 180%;
  margin: 8px
}

.unlock-button {
  display: inline-block;
  paddinbg: -10px;
  margin: 0px;
  max-height: 2em;
}

#activity-progress-div {
  border: 1px solid lightgrey;
  border-radius: 8px;
  margin: 2px;
  padding: .5em;
}

#student-name {
  font-size: 200%;
  margin: 8px;
  margin-left: 0px;
}

//Make the header not cover task name when the page jumps to it in the activity class progress view
.task-name-div{
  margin-top: -60px;
  padding-top: 60px;
}

#progress-chart {
  text[text-anchor="middle"]:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.charts-tooltip{
  div{
    text-decoration: underline;
  }
  div:hover {
    cursor: pointer;
  }
}

#curriculum-list {
  ul {
    list-style: none;
  }
  li {
    border: 1px solid rgba(0, 0, 0, 0.18);
    margin: 2px;
    padding: .25em;
  }
  .module-page-ul {
    font-size: 150%;
    padding: .5em;
    .activity-page-ul {
      font-size: 80%;
      padding: .25em;
      .task-ul {
        font-size: 80%;
      }
    }
    .module-page-li {
      margin-bottom: 16px;
    }
  }

  .locked-task, .locked-activity {
    background-color: rgba(169, 169, 169, 0.55);
  }

  .completed-task {
    background-color: rgba(144, 245, 144, 0.40);
  }
}