// Place all the styles related to the school_classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.school_classes {
  #classlist {
    thead {
      background-color:#B2B2FF;
      color:#666666;
      font-weight: bold;
      cursor: default;
    }
    &,th,td
    {
      border:1px solid black;
      border-collapse:collapse;
    }
    th,td
    {
      padding:5px;
    }
  }
  #existing_student {
    p {
      margin-left: 16px;
    }
  }

}
