// Place all the styles related to the school_classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main-body.school_classes {
  form.edit_school_class {
    border: '1px solid #cccccc';
    div.school_class_name {
      width: 70%;
      input {
        width: 100%;
      }
    }
    #edit_school_class_submit {
      width: auto;
    }
    div.check_boxes div.checkbox {
      @extend .col-md-4;
      margin-top: 5px;
    }
  }
  #classlist {
    margin-left: 15px;
    width: 90%;
    thead {
      background-color: #B2B2FF;
      color: #666666;
      font-weight: bold;
      cursor: default;
    }
    &, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
    }
  }
  #existing_student {
    p {
      margin-left: 16px;
      margin-top: 8px;
    }
    .form-inputs {
      padding-left: 0px;
    }
  }
  #new_student {
    form {
      padding-left: 0px;
    }
  }
  #draganddrop-area{
    display: inline-block;
    float:right;
    #drop-zone{
      min-height: 120px;
      width:200px;
      border: 1px solid grey;
      background: lightgrey;
    }
  }

  #curriculum-div {
    font-size: 180%;
    margin-top: 10px;
    margin-bottom: -10px;
  }

  .teacher-only-note {
    font-size: 10px;
    color: #a1a1a1;
    margin-top: 2px;
  }

  .black-link {
    a {
      color: black;
      text-decoration: underline;
    }
    a:hover {
      color: #160e5d;
    }
  }

  .module-title-box {
    font-size: 110%;
    margin-top: 2px;
  }

  .activity-title-box {
    font-size: 180%;
    margin: 8px
  }

  .unlock-button {
    display: inline-block;
    margin: 0px;
    max-height: 1em;
  }

  .unlock-all {
    display: inline-block;
    margin: 0px;
    max-height: 2em;

  }

  #student-name {
    font-size: 200%;
    margin: 8px;
    margin-left: 0px;
  }

  .student-name-div {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 10em;
    padding : 6px 12px 6px 6px;
  }

  #test-student-div{
    button{
      height: 3em;
    }
  }

  .percent-box, .unlock-all-box{
    padding : 6px 12px 6px 6px;
  }

  #progress-table-div {
    width: auto;
    max-height: 500px;
    padding-bottom: 1px;
  }

  .student-status{
    padding:.5em;
    height: inherit;
    width: inherit;
  }

  .completed-box, .false-box{
    background: #caffca;
  }

  .visible-box{
    background: #FFFFD5;
  }

  .small-font {
    font-size: 85%;
    float: right;
  }

  #curriculum-list {
    ul {
      list-style: none;
    }
    li {
      border: 1px solid rgba(0, 0, 0, 0.18);
      margin: 2px;
      padding: .25em;
    }
    .module-page-ul {
      font-size: 150%;
      padding: .5em;
      .activity-page-ul {
        font-size: 90%;
        padding: .25em;
        .task-ul {
          font-size: 90%;
        }
      }
      .module-page-li {
        margin-bottom: 16px;
      }
    }

    .locked-task, .locked-activity {
      background-color: rgba(169, 169, 169, 0.55);
    }

    .completed-task {
      background-color: rgba(144, 245, 144, 0.40);
    }

  }
}
