#main-body.task_responses {
  #page-title {
    font-size: 220%;
    margin-bottom: 2px;
  }
  .class-title {
    padding: .4em;
    font-weight: bold;
    font-size: 130%;
  }
  .student-body {
    padding: .5em;
    outline: 1px solid black;
    margin-bottom: 2px;
    margin-top: 2px;
  }
  #no-answers-div {
    border: 1px solid #c9c9c9;
    background: #e5e5e5;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    font-size: 110%;
    font-weight: bold;
  }

  #student-link {
    display: inline-block;
  }

  #select-other-student-form {
    padding: 5px;
    border: 1px solid #c5c5c5;
    background: #dbdbdb;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
    form {
      margin-bottom: 0px;
      select {

      }
    }
  }

  .task-response-questions {
    p {
      line-height: 10px;
    }
    .question-box {
      padding: .5em;
      margin-top: 2px;
      margin-bottom: 2px;
      border-radius: 5px;
      border: 1px solid #3e3e3e;

      .question-title {
        padding: .4em;
        font-weight: bold;
      }

      .main-question {
        padding: 2px;

        .question-body {
          margin: 2px;
          margin-bottom: 4px;
          padding: 4px;
          border: 1px solid black;
          border-radius: 2px;
        }

        .answer-text {
          border: 1px solid #c9c9c9;
          padding: .4em;
          margin-top: -1px;
          .question-number {
            font-weight: bold;
            display: inline-block;
          }
        }

        .free-response-answer-div {
          border: 1px solid #c9c9c9;
          padding: .4em;
          border-radius: 2px;
        }

      }
    }
  }
}