<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <title>LaPlaya</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <% Rails.application.config.laplaya_debug_sources.each do |source| %>
      <%= javascript_include_tag(Rails.application.config.laplaya_debug_dest_path  + source) %>
  <% end %>
  <script type="text/javascript">
      var world;
      window.onload = function () {
          world = new WorldMorph(document.getElementById('world'));
          new IDE_Morph(<%= raw @laplaya_ide_params.to_json %>).openIn(world);
          setInterval(loop, 1);
      };
      function loop() {
          world.doOneCycle();
      }
  </script>
</head>
<body style="margin: 0;">
<canvas id="world" tabindex="1" style="position: absolute;"></canvas>
</body>
</html>
