<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= javascript_include_tag "laplaya_application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <title>Laplaya</title>
  <script type="text/javascript">
      var world;
      window.onload = function () {
          world = new WorldMorph(document.getElementById('world'));
          new IDE_Morph(<%= raw @laplaya_ide_params %>).openIn(world);
          setInterval(loop, 1);
      };
      function loop() {
          world.doOneCycle();
      }
  </script>
</head>
<body style="margin: 0;">
<canvas id="world" tabindex="1" style="position: absolute;" ></canvas>
</body>
</html>
