<footer class="footer">
  <small>
    <a href="https://github.com/ucsb-cs-education/octopi-webapp">Octopi-Webapp</a>
    by <a href="http://discover.cs.ucsb.edu/research/depict/depict/">UCSB Depict</a>, 2014
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>