<% if children.get_locked_status_for(current_student, current_school_class) %>
    <div class="child-link locked">
      <%= image_tag("padlock.png", size: "21") %>
      <%= children.title %>
    </div>
<% else %>
    <div class="child-link">
         <%= link_to children.title, student_portal_activity_path(children) %>
    </div>
<% end %>